{% load static %}

<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<link  href="{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css">

  </style>
</head>


<body style="padding: 0;
margin: 0;">   


	<!-- file drop start -->
  <div >
    <img  src="{% static 'images/Hero-11.png' %}" style="width:100%;margin-bottom: 1.5em;">
  </div>
      <div>
          <div style="display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top:3em;">
                <h3 style="padding-top:1em; color:white; font-size:20px">Image successfully Uploaded</h3>
                <img src="{% static 'CSS/ui-15.svg' %}" width="330" height="280" style="padding-top:2em">       
                <button class="button" style="
    background-color: #17b2b3;
  border: none;
  color: white;
  opacity: 1.0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 2em;
  border-radius: 12px" onclick="showresult()" id="toggle"  >Make Predition</button>         
          </div>
	</div>

<!-- navbar end	 -->

	



</body>

<script type="text/javascript">
  function showresult() {
  window.location.href = '{% url "analyse" %}';

}
</script>
</html>

